In [30]:
import pandas as pd
path='/Users/ness001/datas/melb_data.csv'
data = pd.read_csv(path,low_memory=False,parse_dates=['Date']) 
#在这里将object转化为dt64可能会非常慢

In [31]:
### set seed for reproducibility
np.random.seed(0)

https://www.kaggle.com/rtatman/data-cleaning-challenge-handling-missing-values?utm_medium=email&utm_source=mailchimp&utm_campaign=5DDC-data-cleaning

# eda

In [32]:
data.head(3).T

                                   0  ...                      2
Suburb                    Abbotsford  ...             Abbotsford
Address                 85 Turner St  ...           5 Charles St
Rooms                              2  ...                      3
Type                               h  ...                      h
Price                       1.48e+06  ...              1.465e+06
Method                             S  ...                     SP
SellerG                       Biggin  ...                 Biggin
Date             2016-03-12 00:00:00  ...    2017-04-03 00:00:00
Distance                         2.5  ...                    2.5
Postcode                        3067  ...                   3067
Bedroom2                           2  ...                      3
Bathroom                           1  ...                      2
Car                                1  ...                      0
Landsize                         202  ...                    134
BuildingArea                     NaN  ...                    150
YearBuilt                        NaN  ...                   1900
CouncilArea                    Yarra  ...                  Yarra
Lattitude                   -37.7996  ...               -37.8093
Longtitude                   144.998  ...                144.994
Regionname     Northern Metropolitan  ...  Northern Metropolitan
Propertycount                   4019  ...                   4019

[21 rows x 3 columns]

In [33]:
data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [34]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [35]:
data.dtypes

Suburb                   object
Address                  object
Rooms                     int64
Type                     object
Price                   float64
Method                   object
SellerG                  object
Date             datetime64[ns]
Distance                float64
Postcode                float64
Bedroom2                float64
Bathroom                float64
Car                     float64
Landsize                float64
BuildingArea            float64
YearBuilt               float64
CouncilArea              object
Lattitude               float64
Longtitude              float64
Regionname               object
Propertycount           float64
dtype: object

# missing data

In [36]:
 data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

## 总缺失量

In [37]:
 data.isnull().sum().sum()

13256

In [22]:
# how many total missing values do we have?
total_cells = np.product(data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

4.648292306613367

## 部分缺失量

## 处理

### 删除

In [ ]:
# 删除dropna drops missing values (think of na as "not available")
data_drop= data.dropna(axis=0)

### 填补为0

In [ ]:
###填补为0
data_drop.fillna(0)

In [ ]:
#main idea:"really looking at your data and trying to figure out why it is the way it is and how that will affect your analysis"

import pandas as pd 
import numpy as np 

#read data
df=pd.read_csv('../input/xxx.csv')


#have a view
df.head(3)
df.sample(5)#random

#stat numbers
df.summary()
df.info()

##slice example,loc =locate?
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data


#missing values
#count&show
missing_values_count=df.isnull().sum()#⚠️有两个括号
missing_values_count[0:10]

#see the missing percentage
total_cells=np.product(df.shape)#shape返回的是一个np的行
total_missing=missing_values_count.sum()
print(total_missing/total_cells*100)

#figure out why the data is missing
#> **Is this value missing becuase it wasn't recorded or becuase it dosen't exist?**
#If a value is missing becuase it doens't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values you probalby do want to keep as NaN. On the other hand, if a value is missing becuase it wasn't recorded, then you can try to guess what it might have been based on the other values in that column and row.
#如果做细致的数据分析，可以逐个特征确定not recorded/not exist   = imputation/delete

#handle with missing values

#remove columns not rows,with axis
columns_with_na_dropped=data.dropna(axis=1)
#show
columns_with_na_dropped.head()
print("original dataset:%d \n"%data.shape[1])
print("with na's dropped: %d"%columns_with_na_dropped.shape[1])

#imputation
#basic
df.fillna(0)
#replace all NA's the value that comes directly after it in the same column,  then replace all the reamining na's with 0
#bfill是从后向前填充.从行到行 axis=0
subset_nfl_data.fillna(method = 'bfill', axis=0).fillna(0)

### 向前填补

In [ ]:
### 向前填补（拿后面的值填补前面的na）填补不了的fill0，向后填补

In [ ]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_nfl_data.fillna(method = 'bfill', axis=0).fillna(0)

In [ ]:
# 向后填补，用前一个数据向后填充
data.fillna(method='pad')

### 均值填补
如果数据是不平衡的，那么应该使用条件均值填充。
所谓条件均值，指的是与缺失值所属标签相同的所有数据的均值

In [ ]:
data.fillna(data.mean())

### 插值填补

In [ ]:
data.interpolate()

### 总览，保存

In [ ]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % data.shape[1])
print("Columns with na's dropped: %d" % data.shape[1])

In [ ]:
#保存为新dataframe，df保存为新csv

# 数据缩放和正态化（Scale and Nomarlization Data）

## scale
保持原分布，you're changing the *range* of your data 
比如当高度和长度数据相差太多0时，scale对高度和长度同时缩放
**适用**：svm，knn（k临近）

In [26]:
# 导入 min_max scaling
from mlxtend.preprocessing import minmax_scaling

# 缩放数据使之处于0到1之间
scaled_data = minmax_scaling(original_data, columns = [0])

NameError: name 'original_data' is not defined

In [ ]:
# plot the original & scaled data together to compare
fig, ax=plt.subplots(1,2)

sns.distplot(kickstarters_2017.usd_goal_real, ax=ax[0])
ax[0].set_title("Original Data")
sns.distplot(scaled_data, ax=ax[1])
ax[1].set_title("Scaled data")

## normarlization
changing the *shape of the distribution* of your data.
**适用** 你希望你的数据是正态分布的
比如要做t-test，anovas，线性回归，线性判别分析linear discriminant analysis (LDA) and Gaussian naive Bayes，（带高斯名字的都有正态的隐含假设）

In [ ]:
# 导入 Box-Cox Transformation
from scipy import stats
# 归一化数据
normalized_data = stats.boxcox(original_data)[0]

In [ ]:
# plot both together to compare
fig, ax=plt.subplots(1,2)

sns.distplot(positive_pledges, ax=ax[0])
ax[0].set_title("Original Data")

sns.distplot(normalized_pledges, ax=ax[1])
ax[1].set_title("Normalized data")

# 日期时间的统一化（Parsing Dates）

## 已知format

 * 1/17/07 has the format "%m/%d/%y"
 * 17-1-2007 has the format "%d-%m-%Y"
 
 `%d` for day, `%m` for month, `%y` for a two-digit year and `%Y` for a four digit year.

In [ ]:
#dtype ：objetc ➡️ datetime64
#new column ‘date parsed’
landslides['date_parsed'] = pd.to_datetime(landslides['date'], format = "%m/%d/%y")

## 自动解析format

In [ ]:
#万能的infer_datetime_format=True，pandas自己推断日期类型，
#优点是可兼容同一列中，有多个格式的日期处理
#缺点是降低处理速度。
#缺点2，没办法处理，有时数据中可能还存在自创的格式
earthquakes['date_parsed'] = pd.to_datetime(earthquakes['Date'],infer_datetime_format=True)

http://strftime.org

自创格式

## 有其他string混在日期列的情况

In [ ]:
#在此案例中有，unknown，有bce和ce后缀

In [ ]:
volcanos_temp = volcanos['Last Known Eruption']

In [ ]:
#Remove unknown1: first replace unknown with nan
volcanos_temp = volcanos_temp.replace('Unknown', np.nan)
#Remove unknown2: drop the na
volcanos_temp = volcanos_temp.dropna()
volcanos_temp

In [ ]:
#Split the year and merge the BCE/CE data into it
volcanos_year = []
for x in volcanos_temp:
    if x.endswith('BCE'):
        volcanos_year.append(0-int(x.split(' ')[0]))
    else:
        volcanos_year.append(int(x.split(' ')[0]))

In [ ]:
#plot
sns.distplot(volcanos_year)

# 字符编码（Character Encodings）

## 已知编码

In [23]:
#将str编码为bytes类，但在编码€时出现了错误
before = "This is the euro symbol: €"
after = before.encode("utf-8", errors = "replace")
#这里编码方式utf-8也可以为ascii、gbk等。

In [24]:
after.decode("utf-8")
#注：(1)编码方式要和解码方式保持一致，否则会出现 UnicodeDecodeError
#(2)有时候，编码会导致数据丢失

'This is the euro symbol: €'

## 未知编码

 ### 用func输出字符编码

In [ ]:
import chardet
#以二进制方式读取文件
with open("../input/kickstarter-projects/ks-projects-201801.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))
print(result)
#当10k的编码结果不正确，可变化read()中的大小，如read(100000)

#出现结果：{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': '}

### 解码

In [ ]:
kickstarter_2016 = pd.read_csv("../input/kickstarter-projects/ks-projects-201612.csv", encoding='Windows-1252')

### 保存为新文件，新文件默认编码为ntf-8

In [ ]:
#默认encoding = ‘utf-8’
kickstarter_2016.to_csv("ks-projects-201801-utf8.csv")

# 不一致的输入数据（Inconsistent Data Entry)

## 获取unique值，对值排序，查看异常

In [ ]:
cities = suicide_attacks['City'].unique()            #选出City字段中不重复值
cities.sort()                                        #排序
cities

## 统一大小写

In [ ]:
# 全部小写
suicide_attacks['City'] = suicide_attacks['City'].str.lower()

## 去除字符串两边的空格

In [ ]:
suicide_attacks['City'] = suicide_attacks['City'].str.strip()

## 模糊匹配

In [ ]:
# 模糊匹配：
# 例如：d.i khan 和d. i khan
import fuzzywuzzy
from fuzzywuzzy import process

#与d.i khan相近的前10个字符串
matches = fuzzywuzzy.process.extract("d.i khan", cities, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

In [ ]:
# matches 的结果是一个包含十个元组的列表：[('d. i khan', 100), ('d.i khan', 100), ('d.g khan', 88)……]。所以需要重新去定义一个函数来处理它们。

In [ ]:
def replace_matches_in_column(df, column, string_to_match, min_ratio = 90):
    # 获取不重复的值
    strings = df[column].unique()
    
    # 获取前10个相近的字符串
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # 只有当相近匹配 > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # 获取dataframe中所有相近的rows
    rows_with_matches = df[column].isin(close_matches)

    # 替换这些rows 至目标值
    df.loc[rows_with_matches, column] = string_to_match
    
    # 提示过程结束
    print("All done!")

In [ ]:
# use the function we just wrote to replace close matches to "d.i khan" with "d.i khan"
replace_matches_in_column(df=suicide_attacks, column='City', string_to_match="d.i khan")

# 找出某些列

In [ ]:
# get the index of all positive pledges (Box-Cox only takes postive values)
index_of_positive_pledges = kickstarters_2017.usd_pledged_real > 0

# get only positive pledges (using their indexes)
positive_pledges = kickstarters_2017.usd_pledged_real.loc[index_of_positive_pledges]

# 提取feature

## 提取datetime64新列的信息

In [ ]:
#获得每一月同一天的统计数据
day_of_month_landslides = landslides['date_parsed'].dt.day

## 类别数据

# 创作feature

## 自设格式的日期数据

# 检查数据中的错误

## 时间错误检查 plot

In [ ]:
#以日为例子

#remove na
day_of_month_landslides = day_of_month_landslides.dropna()

# plot the day of the month
sns.distplot(day_of_month_landslides, kde=False, bins=31)