In [1]:
df=pd.read_excel('movie_dateset.xlsx',sheet_name='Sheet1')

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
sc=MinMaxScaler()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 14 columns):
Movie                  231 non-null object
Unnamed: 1             0 non-null float64
Ratings                231 non-null float64
Genre                  231 non-null int64
Gross                  231 non-null int64
Budget                 230 non-null float64
Screens                221 non-null float64
Sequel                 231 non-null int64
Sentiment              231 non-null int64
Views                  231 non-null int64
Likes                  231 non-null int64
Dislikes               231 non-null int64
Comments               231 non-null int64
Aggregate Followers    196 non-null object
dtypes: float64(4), int64(8), object(2)
memory usage: 25.3+ KB

In [26]:
df1=df.drop(['Movie','Unnamed: 1','Aggregate Followers'],axis=1 )

In [27]:
df1.head(3).T

                   0            1           2
Ratings          6.3          7.1         6.2
Genre            8.0          1.0         1.0
Gross         9130.0  192000000.0  30700000.0
Budget     4000000.0   50000000.0  28000000.0
Screens         45.0       3306.0      2872.0
Sequel           1.0          2.0         1.0
Sentiment        0.0          2.0         0.0
Views      3280543.0     583289.0    304861.0
Likes         4632.0       3465.0       328.0
Dislikes       425.0         61.0        34.0
Comments       636.0        186.0        47.0

In [28]:
df2=sc.fit_transform(df1)

/Users/ness001/anaconda3/envs/pytorch/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning:

Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.

In [ ]:
df2.